@model  Visitor_Management_Portal.ViewModels.OrganizationUsers.OrganizationUserDetailsVM
@{
    ViewBag.Title = "Settings";
    
}


<link rel="stylesheet" href="~/Content/OrganizationUsers/EditUser/EditUser.css">

<div class="section-container d-flex flex-column gap-4">
    <top>
        <a class="navigation-btn">Settings ></a>
        <a class="navigation-btn" onclick="stepBack('/OrganizationUsers/Index')">Organization Users ></a>
        <a class="navigation-btn" href="/OrganizationUsers/UserDetails?userId=@Model.id">User Details ></a>
        <a class="navigation-btn">Edit User</a>
    </top>


    <div class="profile-detials d-flex align-items-center justify-content-between">
        <div class=".left d-flex align-items-center gap-3 ">
            <img src="~/Content/Images/DashboardLayout/DefualtProfilePic.svg" alt="Profile" width="55" height="55" class="profile-pic" />
            <div class="profile-info">
                <div class="name fw-semibold">@Model.Name</div>
                <div class="title">@Model.Role</div>
            </div>
        </div>

        @*needs-approval*@
        <div class="d-flex align-items-center justify-content-between needs-approval gap-3">
            <div class="d-flex align-items-center ">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                    <g id="info" transform="translate(-2 -2)">
                        <path id="Path_40198" data-name="Path 40198" d="M14,2A12,12,0,1,0,26,14,12,12,0,0,0,14,2Zm0,22A10,10,0,1,1,24,14,10,10,0,0,1,14,24Z" transform="translate(0)" fill="#1e3a8a" />
                        <path id="Path_40199" data-name="Path 40199" d="M8.51,8.9a1,1,0,0,0-1,1v6.8a1,1,0,0,0,2,0V9.9A1,1,0,0,0,8.51,8.9Zm0-4.1a1.06,1.06,0,0,0-1.02,1.04V6a.94.94,0,0,0,1.02.94,1.04,1.04,0,0,0,1-1V5.7a.9.9,0,0,0-1-.9Z" transform="translate(5.49 2.797)" fill="#1e3a8a" />
                    </g>
                </svg>
                <p class="p-0 my-0 mx-2">Needs Approval</p>
            </div>

            <label class="switch">
                <input type="checkbox" @(Model.CreateVisitsWithoutApproval ? "checked" : "")>
                <span class="slider"></span>
            </label>
        </div>

    </div>

    <!-- Personal Data Section -->
    <div class="data-box">
        <div class="data-title">Personal Data</div>
        <div class="form-grid">

            <div class="form-group">
                <label for="full-name">Full Name</label>
                <input type="text" id="full-name" class="form-input" value="@Model.Name" placeholder="Enter your full name">
            </div>
            <div class="form-group">
                <label for="job-title">Job Title</label>
                <input type="text" id="job-title" class="form-input" value="@Model.JobTitle" placeholder="Enter your job title">
            </div>


            <div id="Reporting-To" class="form-group">
                <label for="ReportingToSearch">Reporting To <span class="text-danger">*</span></label>
                @if (Model.Reportingto == null)
                {
                    <input type="text"
                           id="ReportingToSearch"
                           class="form-input"
                           placeholder="Search and select a person"
                           autocomplete="off" />
                    <div id="ReportingToOptions" class="dropdown-options hidden"></div>
                }
                else
                {
                    <input id="ReportingToSearch" type="text" class="form-input" data-reportingToId="@Model.ReportingtoId" value="@Model.Reportingto" placeholder="Enter name">
                    <div id="ReportingToOptions" class="dropdown-options hidden"></div>
                }
            </div>

            <div class="form-group">
                <label for="role">Role</label>
                <select id="role" class="form-input">
                    @if (Model.Role == null)
                    {
                        <option value="">Choose role</option>
                        <option selected value="1">Manager</option>
                        <option value="2">Admin</option>
                    }
                    else
                    {
                        <option selected value="@Model.RoleId">@Model.Role</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="email-address">Email Address</label>
                <input type="email" id="email-address" class="form-input" value="@Model.Email" placeholder="Enter your email address">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-input" disabled readonly value="@Model.Password" placeholder="Enter your password">
            </div>

            <div class="form-group">
                <label for="phone-number">Phone Number</label>
                <input type="text" id="phone-number" class="form-input" value="@Model.Phone" placeholder="Enter your phone number">
            </div>




        </div>
    </div>
    <div class="data-box">
        <div class="data-title">Office Location</div>
        <div class="form-grid">
            <div class="form-group">
                <label for="building">Building</label>
                <select id="building" class="form-input">
                    @if (Model.Building == null)
                    {
                        <option value="">Select building</option>
                    }
                    else
                    {
                        <option value="@Model.BuildingId">@Model.Building</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="zone">Zone</label>
                <select id="zone" class="form-input">
                    @if (Model.Zone == null)
                    {
                        <option value="">Select zone</option>
                    }
                    else
                    {
                        <option value="@Model.ZoneId">@Model.Zone</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="floor-number">Floor Number</label>
                <input type="text" id="floor-number" class="form-input" value="@Model.Floor" placeholder="Enter your Floor number">
            </div>
        </div>
    </div>

    <div class="btns d-flex align-items-center justify-content-end gap-5">
        <button class="custome-btn-cancle cancle">Cancle</button>
        <button class="custome-btn-action save-changes">Save Changes</button>
    </div>

    <input type="hidden" id="current-userID" value="@Model.id" />
</div>
    @*Scripts*@

    @section Scripts {
        <script>
        const list_Item = document.querySelector(".sidebar-menu .settings")
        list_Item.classList.add('active-sidebar-menu');
        </script>

        <script src="~/Content/OrganizationUsers/EditUser/EditUser.js"></script>
    }

